redirectsOrigin = "config"
plugins = []
headers = []

[functions]

[functions."*"]

[build]
publish = "C:\\Users\\guehi\\OneDrive\\Images\\Bureau\\dev 2026\\claude appli1\\delivery-app\\dist"
publishOrigin = "config"
commandOrigin = "config"
command = "npx expo export --platform web"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]